<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title> <%= title %> </title>
</head>
<body>

<div class="banner">
    <a href="">MxForm</a>
    <a href="">antiX Forum</a>
    <a href="">contributes</a >

</div>

    <h1>Mx Linux</h1>

<div class="navbar">
    <a href="#home">Home</a>
    <a href="#home">News</a>

    <div class="dropdown">
        <button class="dropbtn" href="#home">Product</button>
        <div class="drop-down">
            <a href="">Product1</a>
            <a href="">Product 2</a>
        </div>
    </div>

</div>