<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> <%= title %> </title>
</head>
<body>

<div class="banner">
    <a href="" class="a1">MxForm</a>
    <a href="" class="a2">antiX Forum</a>
    <a href="" class="a3">contributes</a >

        <div class="bannerlft">
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>




        </div>
</div>

    <h1>Mx Linux</h1>

<div class="navbar">
    <a href="/">Home</a>
    <a href="news">News</a>

    <div class="dropdown">
        <button class="dropbtn" href="#home">Product</button>
        <div class="drop-down">
            <a href="">Product1</a>
            <a href="">Product 2</a>
        </div>
    </div>
<a href="#about">About us</a>
<a href="/blog">Create Blog</a>

</div>