<%- include("./header.ejs"); %>


<div class="mainContain">

    <img src="/cover.png" alt="Image of mx">
    <div class="btns">
        <button class="btn1">Download</button>
        <button class="btn2">Hardware</button>
        <button class="btn3">Support</button>
        <button class="btn4">cloud</button>



    </div>
<p>
    MX Linux is a cooperative venture between the antiX and MX Linux communities. It is a family of operating systems that are designed to combine elegant and efficient desktops with high stability and solid performance.  MX’s graphical tools provide an easy way to do a wide variety of tasks, while the Live USB and snapshot tools inherited from antiX add impressive portability and remastering capabilities. Extensive support 
    is available through videos, documentation and
     a very friendly Forum.

</p>
</div>