html{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
    color: #202020;
    background-color: #e6e7e9;
    font-weight: 900;
    line-height: 1.5;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
label{
    display: block;
}
.mainContain{
    margin: auto;
    width:80%;
}

/* this is navbar */

.navbar{
    
    overflow: hidden;
    background-color: #222222;
}

.navbar a{
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;

}

.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.drop-down{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;

}

.drop-down a{
    float: none;
    color: white;
    padding-inline: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
}

.drop-down a:hover{
    display: block;
    background-color: #3f3f3f;
}
.dropdown:hover .drop-down{
    display: block;
    
}
 a:hover {
    background-color: #474646;

}


h1{
    height: 80px;
    margin: 0%;
    text-align: center;
    background-color: #97989a;
}
.btns{
    text-align: center;

}
button{
    font-size: 22px;
    text-align: center;
    border-radius: 4px;
}
.btn1{
    background-color: #d99140;
    border: 1px solid rgb(92, 86, 86);
}

.btn2{
    background-color: #a1d9ab;
    border: 1px solid rgb(92, 86, 86);
}
.btn3{
    background-color: #3cb1bf;
    border: 1px solid rgb(92, 86, 86);
}
.btn4{
    background-color: #3cbf4c;
    border: 1px solid rgb(92, 86, 86);
}

.banner {
    background-color: #114653;
    padding: 8px;
    
    a{
        margin-right: 13px;
        text-decoration: none;
        color: white;
        font-size: 13px;
        text-align: center;
        padding: 3px;

    }
    .bannerlft{
        float: right;
        width: 10%;   
        letter-spacing: 5px;
        /* font-size: 13px; */
    }
}

/* social media icons */

fa{
    padding: 20px;
    font-size:30px;
    width: 50px;
    text-align:center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover{
    opacity: 0.7;
}

.fa-google{
    background-color: black;
}

.fa-facebook{
    background-color: black;
}
.fa-youtube{
    background-color: black;
}
.fa-instargram{
    background-color: black;
}

/* for text area */
textarea{
    width: 600px;
    height: 150px;
}
input{
    width: 600px;
    margin-right: 34px;
}